{% extends "base.html" %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/glodon.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
  <script src="/static/js/lib/threejs/three.js"></script>
  <script src="/static/js/lib/threejs/js/controls/OrbitControls.js"></script>
  <script src="/static/js/lib/threejs/js/controls/EditorControls.js"></script>
  <script src="/static/js/lib/threejs/js/controls/TrackballControls.js"></script>
  <script src="/static/js/lib/threejs/js/loaders/STLLoader.js"></script>
  <script src="/static/js/lib/threejs/js/loaders/ColladaLoader.js"></script>
  <script src="/static/js/lib/threejs/Detector.js"></script>
  <script src="/static/js/lib/stats.min.js"></script>
  <script src="/static/js/lib/svg/jquery.svg.js"></script>
  <script src="/static/js/lib/svg/jquery.svgdom.js"></script>
  <script src="{{ '/static/js/apps/svg.js'|staticurl }}"></script>
{% endblock %}
{% block mainbody %}
<div class="center">
    <div class="main-left">
      <div id="animate" class="btn">自动播放</div>
      <div id="unanimate" class="btn">停止播放</div>
      <p><button id="rect">Add rectangle</button> <button id="line">Add line</button>
  <button id="circle">Add circle</button> <button id="ellipse">Add ellipse</button>
  <button id="clear">Clear</button> <button id="export">Export</button></p>
    </div>
    <div class="main-right">
    	 <div id="svgbasics"></div>
    </div>
</div>
{% endblock %}
