/*基本类和函数*/
/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.center {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #fff;
  margin-top: 15px;
  padding: 30px 0px;
}
.center #register {
  width: 328px;
  margin: 0 auto;
}
.help-inline {
  display: none;
}
