<footer>
    <div class="linkbox">
        <a href="/aboutus/" class="btn btn-link">关于我们</a>
        <a href="/help/" class="btn btn-link">帮助</a>
    </div>
    <div class="siteinfo">
        <p class="raw">Gutestun@2013 京ICP备12047425号</p>
    </div>
    
    <!-- script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5adbda78acef38608b0893c9810293ea' type='text/javascript'%3E%3C/script%3E"));
    </script -->
</footer>