<header>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">WEBGL</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="{{'active'|ifdefault(tab=='index')}}"><a href="/">首页</a></li>
          <li class="{{'active'|ifdefault(tab=='test')}}"><a href="/test/">test</a></li>
          <li class="{{'active'|ifdefault(tab=='glodon')}} dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">glodon <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/glodon/">callada</a></li>
              <li><a href="/glodon/svg/">svg</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="{{'active'|ifdefault(tab=='three')}} dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">three <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/three/earth">earth</a></li>
              <li><a href="/three/examples/">examples</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
</header>